      /* Encambezado*/
      header {
        right: 0;
        text-align: center;
      }
      /*Imagen Izquierda*/
      #logo1_1 {
        width: 200px;
      }
      #left {
        float: left;
        width: 30%;
      }
      /*Imagen derecha*/
      #right {
        float: left;
        width: 30%;
      }
      /*Titulo centro*/
      #center {
        float: left;
        width: 33%;
      }
      #titulo {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: rgb(153, 0, 51);
      }
      aside,
      section {
        margin: auto;
        padding: 2px;
      }
      .clear {
        clear: both;
      }
      /*Termina Encabezado*/
      /*Seccion 1 */
      /*Parte izquierda*/
      #left1 {
        float: left;
        width: 40%;
        margin: 20px 0 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .columeft {
        text-align: center;
        width: 300px;
      }
      /*Parte derecha*/
      #right1 {
        float: left;
        width: 58%;
        margin: 20px 0 15px 0;
      }
      /*Subtitulo*/
      #subtitulo {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
        color: rgb(153, 0, 51);
        background-color: rgb(221, 217, 196);
        width: 60%;
        padding: 10px;
      }
      /*Tabla central*/
      .columright {
        text-align: center;
        padding: 0px 25px;
        border: 1px solid #000;
      }
      /*Tabla inferior(Fecha)*/
      .columrightF {
        text-align: center;
        width: 150px;
        padding: 0px 25px;
        border: 1px solid #000;
        font-size: 13px;
      }
      #fecha {
        padding-top: 30px;
        width: 75%;
        display: flex;
        justify-content: right;
        align-items: center;
      }
      /*Estilos de celdas*/
      tr {
        text-align: center;
      }
      td {
        text-align: center;
        color: rgb(153, 0, 51);
      }
      th {
        background: rgb(153, 0, 51);
        color: rgb(196, 189, 151);
        font-weight: bold;
      }

      /*Tabla principal*/
      
      .columP {
        text-align: center;
        padding: 5px 5px 5px 5px;
        border: 1px solid #000;
        font-size: 13px;
      }
      .rowTP {
        text-align: center;
        color: rgb(153, 0, 51);
        border: 1px solid #000;
        font-size: 13px;
        background-color: rgb(238, 236, 225);
      }
      #botones{
        right: 0;
        text-align: center;
        margin-bottom: 30px;
      }
      
     